<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>SecretMessage</title>
	<link rel="stylesheet" href="static\lib\bootstrap\dist\css\bootstrap.css">
	<link rel="shortcut icon" href="static/img/shortcutlogo.png"/>
	<script src="/static/lib/angular/angular.js"></script>
	<script src="static/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="static/js/app.js"></script>
	<script src="static/js/controllers.js"></script>
    <script src="static/js/services.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body ng-controller="mainPageCtrl" id="bodytag">
	
	<nav class="navbar navbar-inverse navbar-static-top">
	      <div class="container">
			    <a class="navbar-brand" href="/">
			    <img src="static/img/secretmessage.png"/>
			    </a> 
		  </div>
	</nav>

	<div ng-hide="hide">
		<div class="container" >
		   <div class="form-group">
			  <label for="comment"><h3 id="enterYourMessage" class="text-customHeader">Enter your message</h3></label>
			  <textarea class="form-control" rows="5" id="comment" name="userinput" placeholder="Write your secret message here..." ng-model="message"></textarea>
			</div>
			<button type="button" ng-click="addMessage()" id="createNote" class="btn-personal btn-custom btn-lg btn-block">Create Secret Message</button>
		</div>
	</div>

	<div ng-show="show">
		<div class="container" >
			<label for="comment" ><h3 class="text-customHeader">Link to your message:</h3></label>
			<form>
				<div>
					<p class="custom-alert text-customLink" ng-hide="copied">Copied</p>
				</div>

		      <div class="form-group">
		          <textarea type="text" ng-click="copied = !copied" rows="1" id="linkId" class="form-control text-customLink linkTextArea" readonly="readonly" ng-bind="link"></textarea>
		          <textarea type="text" rows="1" readonly class="custom-form text-customLink linkTextArea">Click on the text box above to copy your link</textarea>
		      </div>
		    </form>
	    </div>
	</div>	
</body>
</html>