<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Project</title>
	<link rel="stylesheet" href="static/lib\bootstrap\dist\css\bootstrap.css">
	<script src="static/lib/angular/angular.js"></script>
	<script src="static/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="static/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	
	<nav class="navbar navbar-inverse navbar-static-top">
	      <div class="container">
		    <div class="navbar-header">
		    <a class="navbar-brand" href="/">SecretMessage</a>
		  </div>
	</nav>


	    <div ng-controller="DropdownCtrl">
		<div class="container">
		   <div class="form-group">
			  <label for="comment"><h3>Enter your message:</h3></label>
			  <textarea class="form-control" rows="5" id="comment" placeholder="Write your secret message here..." ng-model="message"></textarea>
			</div>
			<button type="button" ng-click="onClick(message)" class="btn btn-primary btn-lg btn-block">Create Secret Message</button>
			
		</div>
	</div>
</body>
</html>