<!DOCTYPE html>
<!-- Sets this HTML to my Angular App "app" -->
<html lang="en" ng-app="app">
   <head>
      <!-- Import CSS and Images -->
      <meta charset="UTF-8">
      <title>SecretMessage</title>
      <link rel="stylesheet" href="\static\lib\bootstrap\dist\css\bootstrap.css">
      <link rel="stylesheet" href="\static\lib\fontawesome\css\font-awesome.css">
      <link rel="shortcut icon" href="static/img/shortcutlogo.png"/>
      <!-- End of Import CSS and Images -->
   </head>
   <!-- Set the mainPageCtrl to this body -->
   <body ng-controller="mainPageCtrl" id="bodytag">
      <!-- Importing Scripts -->
      <script src="/static/lib/angular/angular.js"></script>
      <script src="/static/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="/static/js/app.js"></script>
      <script src="/static/js/controllers.js"></script>
      <script src="/static/js/services.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/static/lib/bootstrap/js/modal.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
      <!-- End of Importing Scripts -->
      <!-- Header -->
      <nav class="navbar navbar-inverse navbar-static-top">
         <div class="container">
            <a class="navbar-brand" href="/">
            <img src="static/img/secretmessage.png"/>
            </a> 
         </div>
         <div class="custom-rectangle">
         </div>
      </nav>
      <!-- End of Header -->
      <!-- Adapted from Bootstraps Modal JS and Card CSS -->
      <div id="myModal" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
                  <div class="card">
                     <!-- Populates the Modal with Githubs API response -->
                     <img class="card-img-top img-circle custom-image" ng-src="{{gitHubProfile.avatarUrl}}" alt="Card image cap">
                     <div class="card-block">
                        <h4 class="card-title"><b>GitHub Profile</b></h4>
                        <hr class="custom-hr"/>
                        <h4 ng-bind="gitHubProfile.name"></h4>
                        <h5 ng-bind="gitHubProfile.username"></h5>
                        <p class="custom-cardtext" ng-bind="gitHubProfile.bio"></p>
                     </div>
                     <hr class="custom-hr"/>
                     <div class="card-block">
                        <a href="https://github.com/imervin" class="card-link custom-link">Link to GitHub Profile</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End of Modal -->
      <!-- Create Message -->
      <div ng-hide="hide">
         <div class="container" >
            <div class="form-group">
               <label for="comment">
                  <h3 id="enterYourMessage" class="text-customHeader">Enter your message</h3>
               </label>
               <p class="custom-alert text-customLink" ng-hide="empty">The message is empty.</p>
               <!-- Text Areas contents will be encrypted and sent to the DB upon button click -->
               <textarea class="form-control" rows="5" id="comment" name="userinput" placeholder="Write your secret message here..." ng-model="message"></textarea>
            </div>
            <button type="button" ng-click="addMessage()" id="createNote" class="btn-personal btn-custom btn-lg btn-block">Create Secret Message</button>
         </div>
      </div>
      <!-- End of Create Message -->
      <!-- Generated Link -->
      <div ng-show="show">
         <div class="container" >
            <label for="comment" >
               <h3 class="text-customHeader">Link to your message:</h3>
            </label>
            <form>
               <div>
                  <p class="custom-alert text-customLink" ng-hide="copy">Copied!</p>
               </div>
               <!-- Link will be added to the textarea and will copy to clipboard upon click -->
               <div class="form-group">
                  <textarea type="text" ng-click="copied()" rows="1" id="linkId" class="form-control text-customLink linkTextArea" readonly="readonly" ng-bind="link"></textarea>
                  <textarea type="text" rows="1" readonly class="custom-form text-customLink linkTextArea">Click on the text box above to copy your link</textarea>
               </div>
            </form>
         </div>
      </div>
      <!-- End of Generated Link -->
      <!-- Footer [Adapted from http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/] -->
      <footer class="footer-distributed">
         <div class="container">
            <div class="footer-right">
               <a href="#" id="githubButton" ng-click="getGit()"><i class="fa fa-github"></i></a>
            </div>
            <div class="footer-left">
               <p class="footer-links">
                  <a href="/"><u>New SecretMessage</u></a>
                  ·
                  <a href="/about"><u>About</u></a>
               </p>
               <h5>Ervin Mamutov &copy; 2016</h5>
            </div>
         </div>
      </footer>
      <!-- End of Footer -->
   </body>
</html>