<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>SecretMessage</title>
	<link rel="stylesheet" href="\static\lib\bootstrap\dist\css\bootstrap.css">
	<link rel="stylesheet" href="\static\lib\fontawesome\css\font-awesome.css">
	<link rel="shortcut icon" href="static/img/shortcutlogo.png"/>
	<script src="/static/lib/angular/angular.js"></script>
	<script src="/static/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
	<script src="/static/js/services.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/static/lib/bootstrap/js/modal.js"></script>
</head>
<body ng-controller="templateCtrl">

	{% raw %}
	<nav class="navbar navbar-inverse navbar-static-top">
	      <div class="container">
			    <a class="navbar-brand" href="/">
			    <img src="static/img/secretmessage.png"/>
			    </a> 
		  </div>
		  <div class="custom-rectangle">
		  </div>
	</nav>

	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-body">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <div class="card">
			  <img class="card-img-top img-circle custom-image" ng-src="{{gitHubProfile.avatarUrl}}" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title"><b>GitHub Profile</b></h4>
			    <hr class="custom-hr"/>
			    <h4>{{gitHubProfile.name}}</h4>
			    <h5>{{gitHubProfile.username}}</h5>
			    <p class="custom-cardtext">{{gitHubProfile.bio}}</p>
			  </div>
			  <hr class="custom-hr"/>
			  <div class="card-block">
			    <a href="https://github.com/imervin" class="card-link">Link to GitHub</a>
			  </div>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
	{% endraw %}

	<div ng-hide="hide">
		<div class="container">
			<h3 class="text-customHeader">Are you sure you want to open your message?</h3>
			<h4 class="text-customHeader">This message will be deleted forever once opened.</h4>

			<button type="button" id="showNote" class="btn-personal btn-custom btn-lg btn-block" ng-click="showHide()">Show Note</button>
		</div>
	</div>

    <div ng-show="show">
		<div class="container">
		   <div class="form-group">
			  <label for="messageContent"><h3 id="enterYourMessage" class="text-customHeader">Secret Message:</h3></label>
			  <p class="custom-alert text-customLink" ng-hide="copied">This message has been deleted, if you'd like to keep it, copy it.</p>
			  <textarea class="form-control" rows="5" id="messageContent" readonly>{{ messageContent }}</textarea>
			  <button type="button" id="selectText" class="btn-personal btn-custom btn-xs btn-block">Select Text</button>
			</div>
		</div> 
	</div>

	{% raw %}
	<footer class="footer-distributed">
		<div class="container">
			<div class="footer-right">

				<a href="#" data-toggle="modal" data-target="#myModal" ng-click="getGit()"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="/"><u>New Message</u></a>
					·
					<a href="#"><u>About</u></a>
				</p>

				<h5>Ervin Mamutov &copy; 2016</h5>
			</div>
		</div>
	</footer>
	{% endraw %}
</body>
</html>