<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<!--Adapted from http://stackoverflow.com/questions/19511175/variable-in-flask-static-files-routing-url-forstatic-filename -->
	<meta charset="UTF-8">
	<title>SecretMessage</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/dist/css/bootstrap.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/shortcutlogo.png') }}"/>
	<script src="{{ url_for('static', filename='lib/angular/angular.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/angular-bootstrap/ui-bootstrap-tpls.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
	<script src="{{ url_for('static', filename='js/services.js') }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body ng-controller="templateCtrl">
	
	<nav class="navbar navbar-inverse navbar-static-top">
	      <div class="container">
			    <a class="navbar-brand" href="/">
			    <img src="{{ url_for('static', filename='img/secretmessage.png') }}"/>
			    </a> 
		  </div>
	</nav>

	<div class="container">
		<h3 class="text-customHeader">The message ID "{{ messageIdo }}" does not exist or has already been opened.</h3>
	</div>
</body>
</html>