<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>SecretMessage</title>
	<link rel="stylesheet" href="static\lib\bootstrap\dist\css\bootstrap.css">
	<link rel="shortcut icon" href="static/img/shortcutlogo.png"/>
	<script src="static/lib/angular/angular.js"></script>
	<script src="static/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="static/js/app.js"></script>
	<script src="static/js/controllers.js"></script>
	<script src="static/js/services.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body ng-controller="templateCtrl">
	
	<nav class="navbar navbar-inverse navbar-static-top">
	      <div class="container">
			    <a class="navbar-brand" href="/">
			    <img src="static/img/secretmessage.png"/>
			    </a> 
		  </div>
	</nav>
	<div ng-hide="hide">
		<div class="container">
			<h3 class="text-customHeader">Are you sure you want to open your message?</h3>
			<h4 class="text-customHeader">This message will be deleted forever once opened.</h4>

			<button type="button" id="showNote" class="btn-personal btn-custom btn-lg btn-block" ng-click="showHide()">Show Note</button>
		</div>
	</div>

    <div ng-show="show">
		<div class="container">
		   <div class="form-group">
			  <label for="messageContent"><h3 id="enterYourMessage" class="text-customHeader">Secret Message:</h3></label>
			  <p class="custom-alert text-customLink" ng-hide="copied">This message has been deleted, if you'd like to keep it, copy it.</p>
			  <textarea class="form-control" rows="5" id="messageContent" readonly>{{ messageIdo }}</textarea>
			</div>
		</div> 
	</div>
</body>
</html>